<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            ><a routerLink="/">Home</a></li> <!-- routerLinkActive depends of containing the router link. so if we have /server it still contains slash - ('/') that means active class will applied to the servers and users. it'll be 2 active tabs. to prevent this we write [routerLinkActiveOptions]="{exact: true}" -->
        <li role="presentation" 
            routerLinkActive="active"
            ><a routerLink="/servers">Servers</a></li>
        <li role="presentation" 
            routerLinkActive="active"
            ><a [routerLink]="['/users']">Users</a></li> <!-- In this approach if we want to find the path we should use ['/users', 'somePath'] syntax-->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet> <!-- here we mark the place where we want angular routner to load the component of currently selected component-->
    </div>
  </div>
</div>
